@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;500;700&display=swap');

:root{
    --targetica: rgb(255, 255, 255);
    --base: rgb(255, 235, 193);
    --morado: #45409c;
    --rosita: rgb(243 64 66);
    --azul-verdoso: rgb(53 83 102);
    --azul-cielo: rgb(73, 213, 255);
    --naraanja: rgb(255, 154, 45);
    --blanco: rgb(255, 255, 255);
    --amarillo-naranjoso: #fdc20c;
}


body{
    background-color: var(--base);
    font-family: 'Spline Sans', sans-serif;
}
.contenedor__navegador{
    color: var(--negro);
    border-bottom: 5px dotted var(--naraanja);
}

.Principal__Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contendor__productos{
    display: flex;
    justify-content: space-evenly;
}

.target_producto{
    width: 15%;
    background-color: rgb(250, 218, 178);
    box-shadow: 10px 7px 16px 3px rgb(231 146 113 / 50%), -7px -6px 10px 1px rgb(255 242 214), 
    inset 0px 0px 40px 50px rgb(255, 252, 241);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding:  20px;
    text-align: center;
    color: var(--morado);
}


.div_imagen_contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor_imagen_producto{
    width: 50%;
    height: 100px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 10px 0;
    background-color: var(--targetica);
    border-radius: 50%;
}

.descripcion{
    font-weight: lighter;
    color: rgb(54, 54, 59);
}
#disminuir,#aumentar{
    background-color: var(--amarillo-naranjoso);
    border:none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.boton_agregar{
    background-color: var(--azul-verdoso);
    border:none;
    color: var(--amarillo-naranjoso);
    width: 70px;
    height: 25px;
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;

}
.boton_agregar:hover{
    background-color: var(--amarillo-naranjoso);
    color: var(--azul-verdoso);
}

.Precio_producto::before{
    content: "$";
}

.Precio_producto::after{
    content: " ";
    content: " COP";
}

.cantidad_agregar{
    width: 30px;
}

p{
    margin-bottom: 5px;
}

.targeta_contenedor{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 30px 0 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--naraanja);
}
.nombre__porducto::after{
    content: " ----------------------------------------";
}

.resumen_cantidad_pastelillo::before{
    content: "--  ";
}

.resumen_cantidad_Tarta::before{
    content: "--    ----  ";
}

.texto__input_resumen,.texto__input_cupon{
    display: flex;
    color: var(--blanco);
}
.texto__input_resumen{
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.texto__input_cupon{
    margin-bottom: 20px;
}
.Entradas{
    margin-left: 10px;
    height: 20px;
    border:none;
    border-radius: 5px;
}


#button__Aplicar__Cupon{
    border:none;
    background: var(--azul-verdoso);
    border-radius: 10px;
    color: var(--blanco);
    width: 150px;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
#button__Aplicar__Cupon:active{
    background-color: var(--blanco);
    color: var(--azul-verdoso);
}
.detalles_cupon,.Title_antes,.Precio_antes_cupon{
    color: rgb(54, 54, 59);
}

.Precio_antes_cupon{
    text-decoration: line-through;
}

.title_total{
    margin-top: 10px;
    color: var(--blanco);
}

.Precio_final{
    color: var(--morado);
    font-size: 25px;
    font-weight: bold;
}

.Precio_final::before{
    content: "$ ";
}
.Precio_final::after{
    content: " COP";
}